<ul class="m-sidebar_list">
  <% @genres.each do |genre| %>
    <li class="m-sidebar_list_item m-sidebar_list_item_anchor"><%= link_to genre.name, products_path(genre_id: genre.id, genre_name: genre.name) %></li>
  <% end %>
</ul>