<ul class="product_list">
  <% @products.each do |product| %>
    <li class="product_list_item">
      <span class="product_list_item mt-4"><%= link_to attachment_image_tag(product, :image, :fill, 250, 200), public_product_path(product) %></span>
      <span class="product_list_item mt-2"><%= product.name %></span>
      <span class="product_list_item mt-2">¥<%= product.add_tax_price.to_s(:delimited, delimiter:',') %></span>
    </li>
  <% end %>
</ul>