<div class="l-main_container flex">
  <aside class="m-sidebar">
    <span class=“m-sidebar_title”>ジャンル検索</span>
    <%= render 'genre_search' %>
  </aside>
  <article class="article">
    <div class="row">
      <h2>商品一覧</h2><p>（全<%= @product_count %>件）</p>
    </div>
    <%= render 'product_list' %>
  </article>
</div>