<div class="l-main_container flex">
  <aside class="m-sidebar">
    <span class="m-sidebar_title">ジャンル検索</span>
    <%= render 'public/products/genre_search' %>
  </aside>
  <article class="m-article">
    <div class="row">
      <h2 class="product_index_title"><%= @title %>一覧</h2><p>（全<%= @products.count %>件）</p>
    </div>
    <%= render 'public/products/product_list' %>
  </article>
</div>