// Place all the styles related to the public/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@mixin media($device) {
  @if $device== "pc" {
    @media print, screen and (min-width: 771px) {
      @content;
    }
    // } @else if $device== "tb" {
    //   @media print, screen and (max-width: 1440px) and (min-width: 771px) {
    //     @content;
    //   }
  } @else if $device== "sp" {
    @media screen and (max-width: 770px) {
      @content;
    }
  }
}

.product_index_title{
  font-size: 35px;
  font-weight: bold;
}


.product_detail{
  display: flex;
}

.product_detail_image {
  @include media(pc) {
    max-width: calc(1150 / 1440 * 100vw);
    min-width: calc(810 / 1440 * 100vw);
    width: 100%;
  }

  @include media(tb) {
  }

  @include media(sp) {
    width: calc(500 / 770 * 100vw);
  }
}

.product_detail_item{
  margin: 0 50px;
}