 <div class="l-main_container">
        <div class="m-page_title">
          <h2 class="cart-puroduct_title">ショッピングカート</h2>
          <button class="cart_delete_btn" href="">カートを空にする</button>
        </div>
        <table class="cart-puroduct_table">
          <tr class="cart-puroduct_table_row">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
          <tr class="cart-puroduct_table_row">
            <td><img class="cart-puroduct_image" src="" alt=""> チョコバナナミルフィーユ</td>
            <td>1,100</td>
            <td>
              <div class="select_design">
                <select id="number" size="1" ></select>
              </div>
              <button class="cart-product_update_btn">変更</button>
            </td>
            <td>1,100</td>
            <td><button class="cart_delete_btn" href="">削除する</button></td>
          </tr>

          <tr class="cart-puroduct_table_row">
            <td><img class="cart-puroduct_image" src="" alt=""> チョコバナナミルフィーユ</td>
            <td>1,100</td>
            <td>
              <div class="select_design">
                <select class="number" size="1"></select>
              </div>
              <button class="cart-product_update_btn">変更</button>
            </td>
            <td>1,100</td>
            <td><button class="cart_delete_btn" href="">削除する</button></td>
          </tr>

          <tr class="cart-puroduct_table_row">
            <td><img class="cart-puroduct_image" src="" alt=""> チョコバナナミルフィーユ</td>
            <td>1,100</td>
            <td>
              <div class="select_design">
                <select class="number" size="1"></select>
              </div>
              <button class="cart-product_update_btn">変更</button>
            </td>
            <td>1,100</td>
            <td><button class="cart_delete_btn" href="">削除する</button></td>
          </tr>

        </table>
      </div>