<div class="about-image" >
  <div class="l-main_container">
    <div class="about-main-text">
      <h2 class="about-title">About</h2>
      <span class="about-text">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子さんからお年寄りまでお召し上がりいただけるよう、<br>
        様々なバリデーションをご用意しております。<br>
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </span>
    </div>
  </div>
</div>