<div class="top-visual">
  <div class="top-visual_1"></div>
  <div class="top-visual_2"></div>
  <div class="top-visual_3"></div>
</div>
  <div class="top-main-text">
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。</br>
  </div>


<div class="l-main_container flex">
  <aside class="m-sidebar">
    <span class=“m-sidebar_title”>ジャンル検索</span>
      <%= render 'public/products/genre_search' %>
  </aside>
  <article class="m-article">
    <h2 class="top-title"><span class="new-blink">New</span>新着商品</h2>
    <%= render 'public/products/product_list' %>
    <%= link_to '全ての商品を見る >', products_path, class: 'to_index' %>
  </article>
</div>

