<div class="l-main_container">
  <h4>商品編集</h4>
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <%= render 'form', product: @product, genres: @genres %>
    </div>
  </div>
  </div>
</div>